<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DEKafkaMessageViewer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <DEKafkaMessageViewer.Properties.Settings>
            <setting name="ZookeeperBootstraper" serializeAs="String">
                <value>10.62.153.123:2181</value>
            </setting>
            <setting name="KafkaBootstraper" serializeAs="String">
                <value>10.62.153.123:9092</value>
            </setting>
            <setting name="KafkaConfigs" serializeAs="String">
                <value />
            </setting>
            <setting name="APIClassesLocation" serializeAs="String">
                <value />
            </setting>
        </DEKafkaMessageViewer.Properties.Settings>
    </userSettings>
</configuration>